.todoList {
  padding: 3rem;

  .container {
    background: #fff;
    margin: 0 auto;
    max-width: 400px;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
